* {
  border: 1px solid rgb(132, 76, 133);
}

.body {
  margin: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(36, 16, 128);
  color: rgb(255, 255, 255);
}

.banner {
  text-align: center;
  padding: 0 20%;
  background-color: rgb(188, 207, 236);
  color: rgb(0, 0, 0);
}

.date-container {
  display: flex;
  justify-content: center;
  margin: 0 15px 40px 15px;
}
.default-label {
  font-weight: bold;
}

.company {
  font-weight: bold;
  font-size: 25px;
}

/* ################### Form Area ################### */

.form {
  padding: 10px;
  margin: 20px 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.country-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 30px 0 20px;
}

.submit-button {
  width: 100px;
  align-self: center;
}
/* ################### Weather Card ################### */
.section-weather {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.weather-header {
  display: block;
  width: 100%;
  text-align: center;
}

.weather-card {
  padding: 3px;
  margin: 3px;
  border: 1px solid rgb(201, 233, 55);
  max-width: 200px;
  text-align: center;
}

.card-header {
  font-weight: bold;
  padding: 5px 0;
  border-bottom: rgb(0, 0, 0);
}

.weather-description {
  padding: 5px 0;
}

/* ################### Results ################### */
.city-info {
  width: 100%;
  background-size: cover;
}

.section-trip-results {
  background-image: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  height: 100%;
}

.results-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color:rgb(255, 255, 255);
  min-height: 200px;
  padding-top: 30px;
  font-size: 2rem;
  font-weight: bold;

}

/* ################### Universal Below ################### */
.row {
  display: flex;
  justify-content: space-around;
}

.center {
  text-align: center;
}

.row-dropdown {
  margin: 0 20px;
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
