@import "top.css";
@import "style.css";
@import "colors.css";

.page {
  margin: 0;
}

.grid-blog {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  max-width: 1200px;
  margin: auto auto;
}

.blog-article {
  padding: 0 30px;
  max-width: 800px;
}

.blog-photo {
  background-image: url('../img/ChrisMilk.jpg');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}

.blog-author {
  font-size: 0.9rem;
}

.side-container {
  max-width: 280px;
  padding: 160px 10px 0;
}

.photo-caption {
  padding: 5px;
}

.icon-row {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.icon-row .fab {
  padding: 15px;
}

/* Mobile */
@media only screen and (max-width: 800px) {
  .grid-blog {
    grid-template-columns: auto;
  }

  .blog-photo {
    background-size: cover;
  }

  .side-container {
    max-width: 100%;
  }
}
