/*
*  Colors are used throught the site for text colors and background colors. The only ones NOT listed here
*  are colors related to :hover, and :visited - Those can be found in other .css files.
*/

.color-author {
  color: rgb(252, 0, 0);
}

.color-primary {
  color: rgb(255, 255, 255);
}

.color-secondary {
  color: rgb(24, 24, 24);
}

.color-info {
color: rgb(0, 101, 252);

}

.bg-primary {
  background-color: rgb(255, 255, 255);
}

.bg-secondary {
  background-color: rgb(24, 24, 24);
}

.bg-secondary-transparent {
  background-color: rgba(0, 0, 0, 0.4);
}

.color-warning {
  color: rgb(242, 129, 12);
}
