.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
  max-width: 1500px;
  margin: 25px auto;
  padding: 0 20px;


}

.blog-column {
  max-width: 450px;
  min-width: 200px;
}
