@import "nav.css";
/* TODO:
- Remove these elements/Change from attribute to class or div
- Add atleast 2 more imports above. Maybe the grid-css? Second html page of thhe blog post? Header? queries?
- Look for and download images. Main large blog post, blog post, blog site.
- Add some  a. Bold
            b. Italic
            c. Underlined
  to the <p> elements for some fancyness!
- add a Quote
- have atleast 3 diffrent Colours
- add an image caption. Or rename something that i already have to an image caption.
- google what a card is, is the one I'm currently using the same? tweak?
- add link to homepage on homepage. Redundent?
- start on blog post! :D

- Blog Post

    Header
    Author Info
        Name
        Title
        Current Company/School
        Short Bio
        Avatar
    Social Sharing
        Twitter
        Facebook
        LinkedIn
- make sure im using flex at least twice
- make sure im using grid at least twice
- make responsive for tablet. landscape, and mobile. Aww yeah!
- HTML5 semantic tags such as <header>, <footer>, <article>, <section> , etc. are used to add meaning to the code.
- No div or section selectors are without a CSS class or id.
- The code does not have trailing white spaces. (Smoosh everything together)
- when quoting , stay consistant with  '' or " "
(CSS STUFF)
-Code always uses a space after a property name's colon, but no space between property and colon, for consistency reasons.
- Use atom beautify at the end of submission! it removes trailing white space.
- Code always uses a single space between the last selector and the opening brace that begins the declaration block. Code always start a new line for each selector and declaration.
Code always put a blank line (two line breaks) between rules.
Pattern - Related Articles: Add 2 to 3 fake blog post references after the blog post ends (i.e. to older blog posts)
Pattern - Subscribe Form: Instead of a fake subscribe link on the blog, there is an actual form area with name and email input fields and a subscribe button.
Project URL: Project is fully deployed on GitHub Pages, Netlify or another hosting provider that is free of charge.

*/

* {

  border:1px solid rgb(110, 141, 252);

}

body {
  margin: 0px;
}

header{
  border: 1px solid rgb(89, 139, 134);
  text-align: center;
}

a {
  text-decoration: none;
}

footer {
 text-align: center;
}

/* ###################### ENd of element list ################### */

#site-title {
  margin: 35px auto;
}



.large-card {
  height: 60vh;
  background-image: url('https://source.unsplash.com/1920x1080/?cats');
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.transparent-layer {
  align-self: flex-end;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 5%;
}

.large-card-body {

  border: 1px solid rgb(60, 30, 180);
  color: #fff;
  height: 30vh;
  width: 40vw;
  max-width: 450px;
  margin: 8px;
}

.large-card-title {
  margin-top: 15%;
}

.large-card-text {
  max-width: 300px;
  margin: 0 auto 25px;
}

.round-transparent-button {
  border: 1px solid rgb(105, 105, 105);
  border-radius: 20px;
  font-weight: bold;
  color: rgb(232, 232, 232);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.round-transparent-button:hover {
  color: rgb(180, 191, 223);
  padding: 15px;
}

.grid-container {
  margin: 8px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  border: 1px solid rgb(33, 33, 33);
  margin-bottom: 10px;
  min-height: 35vh;
  display: flex;
  align-items: flex-end;
  justify-content:center;
  text-align: center;
}

.grid-item:hover {
    box-shadow: 0px 0px 27px 1px #000;
}

.photo-one {
  background-image: url('https://source.unsplash.com/1920x1079/?cat');
  background-position: center center;
  background-size: cover;
}

.photo-two {
  background-image: url('https://source.unsplash.com/1921x1081/?cat');
  background-position: center center;
  background-size: cover;
}

.photo-three {
  background-image: url('https://source.unsplash.com/1920x1082/?cat');
  background-position: center center;
  background-size: cover;
}

.card-text {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 0px 20%;
}

.grid-item:hover .card-text {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-text p {
  min-width: 190px;
}
