@import "header.css";
@import "main-blog.css";
@import "main-site-grid.css";


/* TODO:

- Look for and download images. Main large blog post, blog post, blog site.
- Add some  a. Bold
            b. Italic
            c. Underlined
  to the <p> elements for some fancyness!
- add a Quote
- have atleast 3 diffrent Colours
- add an image caption. Or rename something that i already have to an image caption.
- google what a card is, is the one I'm currently using the same? tweak?
- add link to homepage on homepage. Redundent?
- start on blog post! :D

- Blog Post

    Header
    Author Info
        Name
        Title
        Current Company/School
        Short Bio
        Avatar
    Social Sharing
        Twitter
        Facebook
        LinkedIn
- make sure im using flex at least twice
- make sure im using grid at least twice
- make responsive for tablet. landscape, and mobile. Aww yeah!
- HTML5 semantic tags such as <header>, <footer>, <article>, <section> , etc. are used to add meaning to the code.
- No div or section selectors are without a CSS class or id.
- The code does not have trailing white spaces. (Smoosh everything together)
- when quoting , stay consistant with  '' or " "
(CSS STUFF)
-Code always uses a space after a property name's colon, but no space between property and colon, for consistency reasons.
- Use atom beautify at the end of submission! it removes trailing white space.
- Code always uses a single space between the last selector and the opening brace that begins the declaration block. Code always start a new line for each selector and declaration.
Code always put a blank line (two line breaks) between rules.
Pattern - Related Articles: Add 2 to 3 fake blog post references after the blog post ends (i.e. to older blog posts)
Pattern - Subscribe Form: Instead of a fake subscribe link on the blog, there is an actual form area with name and email input fields and a subscribe button.
Project URL: Project is fully deployed on GitHub Pages, Netlify or another hosting provider that is free of charge.



TODO: COMPLETED
- Remove these elements/Change from attribute to class or div
- grid might be able to make a body {
                              margin: 0px;
                            }
                            effect!
}
- Add atleast 2 more imports above. Maybe the grid-css? Second html page of thhe blog post? Header? queries?

*/
* {
}

.body {
  margin: 0px;
  font-size: 1.15em;

}


.footer {
  text-align: center;
  padding-top: 1em;
}


.link {
  text-decoration: none;
}

.light-button {
  padding: 1em;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.light-button:hover {
  padding: 1em;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}

.author {
  padding-top: 2em;
  display: block;
}
