/*
* Everything shown above the nav bar on homepage and blog page.
*/
.page-title {
  text-align: center;
  background-color: #212121;
  padding: 30px 0;
}

.site-title {
  margin: 0 auto;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.sticky-nav .link {
  padding: 20px 30px;
}

.sticky-nav .link:hover {
  color: #212257;
  background-color: #c4d2e4;
}

.sticky-nav .link:visited {
  color: #4250dd;
}

/* Gets removed when width shrinks to mobile view. In style.css  */
.mobile-nav {
  display: none;
}
