<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Bonjour !</title>
</head>

<body>
  <!-- header -->
  <header>
    <div class="">
      Article Sentiment Analyzer
    </div>
    <div class="">
      navigation
    </div>
  </header>

  <!-- Main hello hello-->
  <main>
    <section>
      <form class="">
        <label for="url-entered">Please Enter Article URL</label>
        <input id="url-entered" type="text" name="input" value="" placeholder="Ex. https://www.article.co">
        <input id="btn-enter" type="submit" name="Submit" value="submit">
      </form>
    </section>

    <!-- Results -->
    <section>
      <p class="form-result">Form Results:</p>
      <div id="results">
        <ul>
          <li id="polarity"></li>
          <li id="subjectivity"></li>
          <li id="polarity_confidence"></li>
          <li id="subjectivity_confidence"></li>
        </ul>
      </div>
    </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>
</body>

</html>
