<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Travel App</title>
</head>

<body class="body">
  <!-- Header -->
  <header class="header">
    <div class="company"> Travel App </div>
    <div class="menu"> Restart </div>
  </header>

  <main>
    <section>
      <!-- Form -->
      <form class="form-zipcode">
        <label for="zipcode">Please enter a zip code</label>
        <input id="zipcode" type="text" name="input" placeholder="Zipcode">
        <input id="submit-zip-button" class="submit-button" type="submit" name="ChangeMe" value="Submit">
      </form>
    </section>

    <!-- Results -->
    <section>
      <strong>Form Results:</strong>
      <div id="results"></div>
    </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>
  <!-- DELETE, not needed
  <script type="text/javascript" src="../../../dist/main.js"></script>
-->

</body>

</html>
