/* NOTE:
  - Colors  and background colors are placed here.
  - The only colors that are NOT placed in this file are transparent background.
    Those can be found in styles.css*/

/* ########## Text & Font Colors ########## */
.color-white {
  color: rgb(255, 255, 255);
}

.color-light {
  color: rgb(232, 232, 232);
}

.color-warning {
  color: rgb(242, 197, 38);
}

.color-danger {
  color: rgb(241, 33, 33);
}

.color-primary {
  color: rgb(67, 89, 238);
}

.color-dark {
  color: rgb(18, 18, 18);
}

.color-success {
  color: rgb(77, 217, 49);
}

/* ########## background Colors ########## */
.bg-black {
  background-color: rgb(0, 0, 0);
}

.bg-dark {
  background-color: rgb(26, 26, 26);
}

.bg-light {
  background-color: rgb(231, 231, 231);
}

/* ########## Icon Colors ########## */
.fa-twitter-square {
  color: #17A3F2;
}

.fa-facebook-square {
  color: rgb(255, 255, 255);
  color: #1173E7;
}

.fa-instagram {
  color: #fff;
  background-color: #000;
  padding: 0;
}

.page .card:nth-child(even) {
  background-color: rgb(26, 26, 26);
}

.page .card:nth-child(odd) {
  background-color: rgb(41, 46, 40);
}
