@import 'colors.css';

/*   Notes
THIS MIGHT COME IN HANDY

display: flex;
align-items: flex-end;
flex-direction: column;

*/

* {
  border: 1px solid rgb(64, 29, 255);
}

.page {
  margin: 0;
}

/**** Nav Bar ****/
.nav-container {
  display: flex;
  justify-content:flex-end;
  background-color: rgba(91, 91, 91, 0.4);
  list-style: none;
  margin: 0 0 0;
  padding-right: 15px;
}

.nav-item {
  padding: 15px 10px;
  font-size: 1.3rem;
}

/**** Background Image ****/
.main-background-image {
  background-image: url('https://images.unsplash.com/photo-1580152334532-c3381d5c9273?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  position:relative;
}

.main-card-info {
  padding: 70px;
  font-size: 1.1rem;
}

.title-text {
  margin: 10px 0 30px;
  font-size: 2.5rem;
}

/**** Section Goal ****/
.section-goal {
  background-color: rgb(27, 27, 27);
  color: rgb(232, 232, 232);
  text-align: center;
  padding-bottom: 25px;
}

.goal-title {
  margin: 0;
  padding: 30px 0 30px;
}

.section-row {
  display: flex;
}

.section-row .left-col {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-row .right-col {
  width: 60%;
  border-left: 1px solid rgb(190, 190, 190);
  padding-right: 20px;
}


/****  Section Product  ***/
.product-picture {
  background-image: url('https://images.unsplash.com/photo-1580152334532-c3381d5c9273?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
  color: #fff;
}

.section-product {
  display: flex;
  padding: 50px;
}

.section-product .left-col {
  width: 60%;
  display: block;

}

.section-product .right-col {
  width: 40%;
  border-left: 1px solid rgb(190, 190, 190);
  padding-right: 20px;
}






/**** Universal  ****/
/* Can be used anywhere */
.link {
  text-decoration: none;
}

.btn-container {
  margin: 10px 0 20px;
  padding: 10px;
}
